.user-details {
    width: 100%;
    height: 100%;
    
    position: relative; /* Para que o posicionamento do pseudo-elemento funcione */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2px; /* Largura da linha */
    }
}